.sidebar_container{
    background-color: #333;
    height: 90vh;
    width: 15%;
}

.side_nav{
 /* max-height: 100%; */
 /* overflow-y: scroll;    */
}


.nav_items h4{
    margin: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
}
.nav_item{
    margin-top: 20px;
}
.nav_item .link{
    color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: left;
    text-decoration: none;
    gap: 10px;
    font-size: 15px;
}
.nav_item .link:hover{
    color: red;
}